<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/854a67f594.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <div class="container-col">

      <h2>ALERT</h2>

      <div class="alert">
        <p>This is a primary Alert!</p>
      </div>

      <div class="alert sec">
        <p>This is a secondary Alert!</p>
      </div>

      <div class="alert red">
          <span >&#9888;</span>
        <p>This is a red Alert!</p>
      </div>

      <div class="alert yellow">
          <span >&#9888;</span>
        <p>This is a yellow Alert!</p>
      </div>

      <div class="alert green">
          <span >&#9745;</span>
        <p>This is a green Alert!</p>
      </div>

      <div class="alert blue">
        <span >&#8505;</span>
        <p>This is a primary Alert!</p>
      </div>

      <div class="alert alert-close">
        <p>This is a primary Alert!</p>
            <span >&#10540;</span>
      </div>



        <h2>AVATAR</h2>

        <div class="container">
          <img class="avatar sz-2 img-round" src="/css/media/avatar-cat.png" >
          <img class="avatar sz-4 img-round" src="/css/media/avatar-cat.png" >
          <img class="avatar sz-6 img-round" src="/css/media/avatar-cat.png" >
          <img class="avatar sz-8 img-round" src="/css/media/avatar-cat.png" >
        </div>

          <h2>BADGE</h2>

          <div class="container">
            <div class="badge prim"></div>
            <div class="badge prim sz-2"></div>

            <div class="badge sec"></div>
            <div class="badge sec sz-2"></div>

          </div>

         <h4>1. Badge with text</h4>
          <div class="container">
              <div class="badge prim">9</div>
                <div class="badge prim sz-2">99+</div>
                <div class="badge badge-text prim">Badge</div>
                <div class="badge badge-text sec">Badge</div>
          </div>

           <h4>2. Badge with icon</h4>

           <div class="container">
             <div class="badge-cont">
               <div class="badge prim">9</div>
               <div class="badge-icon">  <i class='fas fa-shopping-cart fa-2x'></i>
                 </div>
             </div>

             <div class="badge-cont">
               <div class="badge sec">9</div>
               <div class="badge-icon">  <i class='fas fa-envelope fa-2x'></i>
                 </div>
             </div>

             <div class="badge-cont">
               <div class="badge sec">9</div>
               <div class="badge-icon prim-c"> <i class='fas fa-comment fa-2x'></i>
                 </div>
             </div>
             </div>

             <h4>2. Badge with Avatar</h4>
             <div class="container">

               <div class="badge-cont">
                 <div class="badge sec"></div>
                 <div class="badge-ava"> <img class="avatar sz-2 img-round" src="/css/media/avatar-cat.png" >
                </div>
               </div>

               <div class="badge-cont">
                 <div class="badge sec"></div>
                 <div class="badge-ava"><img class="avatar sz-4 img-round" src="/css/media/avatar-cat.png" >
                </div>
               </div>

               <div class="badge-cont">
                 <div class="badge sec"></div>
                 <div class="badge-ava"><img class="avatar sz-6 img-round" src="/css/media/avatar-cat.png" >
                </div>
               </div>

               <div class="badge-cont">
                 <div class="badge sec"></div>
                 <div class="badge-ava"><img class="avatar sz-8 img-round" src="/css/media/avatar-cat.png" >
                </div>
               </div>

             </div>

              <h2>BUTTON</h2>

              <div class="container">
                <button type="button" class='btn prim'>Button</button>
                <button type="button" class='btn sec'>Button</button>
                <button type="button" class='btn btn-dis'>Disabled</button>
                <button type="button" class='btn btn-bord prim-c'>Button</button>
                <button type="button" class='btn btn-bord sec-c'>Button</button>
                <button type="button" class='btn prim'>
                   <i class='fas fa-fast-forward'></i> Button
                </button>
                <button type="button" class='btn sec'>
                   <i class='fas fa-fast-forward'></i> Button
                </button>



              </div>





    </div>

  </body>
</html>
