.badge{
  border-radius: 50%;
  height:1rem;
  width:1rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 0.8rem;
}

.badge-text{
  padding: 0.2rem 0.4rem;
  width: auto;
  border-radius: 0.5rem;
}

.badge-cont{
}

.badge-cont>.badge{
 position: relative;
 z-index: 2;
 left:80%;
 top:20%;

}

.badge-icon{
  display: inline-block;
  position: relative;
  z-index: 1;
}
