.sz-2{
  width: 2rem;
  height: 2rem;
}

.sz-3{
  width: 3rem;
  height: 3rem;
}

.sz-4{
  width: 4rem;
  height:4rem;
}

.sz-6{
  width: 6rem;
  height:6rem;
}

.sz-8{
  width: 8rem;
  height: 8rem;
}
